examples {
  ["genomes"] {
    new {
      new {
        accession = "GCF_000002845.2"
        isReference = true
      }
      new {
        accession = "GCF_000002845.2"
        isReference = true
      }
    }
  }
  ["organisms"] {
    new {
      new {
        name = "Leishmania braziliensis"
        tags {
          "TriTrypDB.org"
        }
        assemblies {
          new {
            accession = "GCF_000002845.2"
            isReference = true
          }
        }
        attributes {
          ploidy = "Diploid"
        }
      }
      new {
        name = "Cryptococcus neoformans"
        tags {
          "FungiDB.org"
        }
        assemblies {
          new {
            accession = "GCF_000091045.1"
            isReference = true
          }
          new {
            accession = "GCA_000149245.3"
            isReference = false
          }
        }
        attributes {
          ploidy = "Haploid"
        }
      }
      new {
        name = "Cryptococcus neoformans"
        tags {
          "FungiDB.org"
        }
        assemblies {
          new {
            accession = "GCF_000091045.1"
            isReference = true
          }
          new {
            accession = "GCA_000149245.3"
            isReference = false
          }
        }
        attributes {
          ploidy = "Haploid"
        }
      }
    }
  }
}
